@import 'spectre.css';
@import 'spectre.css/dist/spectre-exp.css';
@import 'spectre.css/dist/spectre-icons.css';

:root {
  --card-width: 290px;
}
.navbar {
  padding: 10px;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 399;
  & .info {
    font-size: 11px;
    margin: 0 10px;
  }

  & .btn {
    &:focus {
      box-shadow: none;
    }
    &.active {
      color: #777;
      cursor: default;
    }
  }
}

.page {
  padding: 52px 20px;
  & .addr {
    width: 120px;
  }
}

.notifications{
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  width: 350px;
  background-color: white;
  transform: translate(-50%, 0);
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  & .tile {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.preview-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: var(--card-width);
}

.my-cards {
  display: inline-block;
  float: left;

  & > .detail {
    margin: 0 10px 10px;
  }
}

.td-card {
  width: var(--card-width);
  height: calc(var(--card-width) * 1.618);
  margin: 10px;
  border: 8px solid rgb(80, 89, 108, 0.8);
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s, border-color 0.3s;
  box-shadow: 4px 4px 10px 2px rgba(80, 89, 108, 0.2);
  &:hover {
    border-color: rgb(80, 89, 108, 1);
    box-shadow: 4px 4px 10px 2px rgba(80, 89, 108, 0.5);
  }

  &.-single {
    width: 100%;
    max-width: var(--card-width);
    display: block;
    margin: 0 auto;
    cursor: default;
    &:hover {
      border-color: rgb(80, 89, 108, 0.8);
      box-shadow: 4px 4px 10px 2px rgba(80, 89, 108, 0.2);
    }
  }

  & .image {
    width: 100%;
    height: var(--card-width);
  }

  & .desc {
    word-wrap: break-word;
  }

}

.toasts {
  position: fixed;
  top: 62px;
  pointer-events: none;
  & .toast {
    margin-bottom: 7px;
    pointer-events: auto;
  }
}

