doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    if settings.env === 'production'
      link(rel='stylesheet', href='/stylesheets/app.css')
    else
      link(rel='stylesheet', href='//localhost:9000/app.css')
    script(src="//www.gstatic.com/charts/loader.js")
  body
    block content
