doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    link(rel='stylesheet', href='/stylesheets/spectre-exp.min.css')
    link(rel='stylesheet', href='/stylesheets/spectre-icons.min.css')
    link(rel='stylesheet', href='/stylesheets/spectre.min.css')
    if settings.env === 'production'
      link(rel='stylesheet', href='/stylesheets/app.css')
    else
      link(rel='stylesheet', href='//localhost:9000/app.css')
  body
    block content
    if settings.env === 'production'
      script(src="/javascripts/app.bundle.js")
      script(src="/javascripts/vendor.bundle.js")
    else
      script(src="//localhost:9000/vendor.bundle.js")
      script(src="//localhost:9000/app.bundle.js")
